@import 'tailwindcss';

:root {
  --background-start-rgb: 247, 247, 248;
  --background-end-rgb: 247, 247, 248;
  --foreground-rgb: 17, 24, 39;

  --card-background: 255, 255, 255;
  --border-color: 229, 231, 235;

  --primary-accent: 59, 130, 246;
  --primary-accent-foreground: 255, 255, 255;
}

@theme inline {
  --color-background: rgb(var(--background-start-rgb));
  --color-foreground: rgb(var(--foreground-rgb));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-sans);
}
